<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Analyzer</title>
    <script src="" defer></script>
    <script src="../static/libraries/p5.js" defer></script>
    <script src="../static/libraries/p5.sound.js" defer></script>
    <script src="../static/index.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>An interactive Audio Analyzer</h1>
</body>
</html>